
* {
    box-sizing: border-box;
}

p{
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
}

h2{
    font-size: 32px;
    padding: 20px;
}

h3{
    padding: 20px;
    padding-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
}

section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 20px;
}

footer{
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(11, 11, 12);
}

h1{
    padding: 10px;
    color: rgb(11, 11, 12);
    font-family: "Times New Roman";
}

header{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(11, 11, 12);
}

body{
    background-image: url("assets/images/jornalismo_dev.png");
    font-family: "Times New Roman";
}

.profissao{
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.nome{
    display: flex;
    justify-content: center;
}

.contato{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.cabeçalho{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cabeçalho h1 {
    padding: 10px;
    margin: 0;
}

.cabeçalho p {
    padding: 8px;
    margin: 0;
}

.contato p {
    flex: 1;
}

.contato p:first-child {
    text-align: left;
}

.contato p:nth-child(2) {
    text-align: center;
}

.contato p:last-child {
    text-align: right;
}

.sobre{
    margin-top: 0;
    margin-bottom: 10px;
}

.formacao{
    margin-top: 0;
    margin-bottom: 10px;
}

.habilidades {
    margin-top: 5px;
    margin-bottom: 20px;
}

.idiomas {
    margin-top: 0;
}

.portcomunicacao{
    margin-top: 0;
    margin-bottom: 10px;
}

.aprendendo{
    margin-top: 0;
    margin-bottom: 10px;
}

.portfolio{
    margin-top: 0;
}

@media(max-width: 600px){
    
    .cabeçalho{
        align-items: center;
    }
    
    .contato{
        margin-top: 40px;
    }
    
    .contato{
        flex-direction: column;
    }

    .contato p{
        text-align: center;
        flex: none;
    }

    .contato p:last-child {
        text-align: center;
    }

    .nome{
        text-align: center;
    }

    .profissao{
        text-align: center;
    }

    footer{
        text-align: center;
    }

    section p {
    text-align: justify;
    }


}


h2 {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

section p {
    margin-top: 5px;
    padding-top: 5px;
}